ul.vnb{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color:aqua;
    width: 200px;
    font-size: large;
    line-height: 2em;
   
}

li.a1{
       background-color:rgb(255, 123, 0);
       color: white;
}

li.a2{
    color: blue;
}

